dist
artifacts
node_modules
.env.local
*.tsbuildinfo
vite.config.js
vite.config.d.ts
__pycache__/
*.pyc
cache
out
broadcast
.bouncer
*.sqlite
*.sqlite-shm
*.sqlite-wal
xmtp-*.db3
cheapbugs-xmtp-*.db3
